// TODO - Come back and finish styling this

.content {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0;
    background-color: orange;
    border: 1px solid violet;
    border-radius: 0;
}
